@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply max-w-full md:w-10/12 mx-auto px-3 md:px-0;
}
.active{
    @apply text-orange-500
}


.banner-img{
    background-image: url("https://i.ibb.co/5T7B9nF/foodhub-slider-main-food-v4.jpg");
}
.thingIntro-BG{
    background-image: url("https://i.ibb.co/G7RwY7f/home-bottom.jpg")
}

.primary-btn{
@apply px-4  py-2 bg-orange-500 text-white border-none;
}

.swiper-button-next, .swiper-button-prev{
    @apply bg-orange-400 w-4
}

.LazyLoad {
    opacity: 0;
    transition: all 1s ease-in-out;
  }
  
  .is-visible {
    opacity: 1;
  }

  .swiper-pagination-bullet-active{
    background-color: orange !important;
  }